    
    /*====================== RESET ======================*/
    
    body{
        color: #fff;
        background: #a3c1d2;
    }
    body{
        font: 16px sans-serif;
        margin: 0;
    }

    *{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    h1,h2,h3{
        font-weight: 100;
        text-align: center;
    }

    button{
        border: 0;
        display: block;
        line-height: 35;
        font-size: inherit;
        width: 190px;
        margin: 10px auto;
    }

    .btn-primary{
        background: #2196f3;
        color: #fff;
    }

    .btn-alert,.msg-warning{
        background: #d50000;
        color: #d50000;
    }

    .msg-warning{
        width: auto;
        line-height: 45px;
        padding: 15px;
        color: #fff;
        text-align: center;
    }

    ul{
        padding: 0;
    }

    li{
        list-style-type: none;
    }

    .objet-list li{
        width: 400px;
        line-height: 35px;
        background: #456;
        margin: 0 auto;
    }

    .objet-list li:nth-child(2n+1){
        background: #2196f3;
        padding: 5px;
        color: #fff;
    }

    .container{
        width: 1200px;
        margin: 0 auto;
    }



/*====================== DEBUT CSS ======================*/


/*====================== POSITIONNEMENT ELEMENTS MACHINE ======================*/




.machine-totale{
    display: flex;
    justify-content: center;
}

.machine-a-cafe img:nth-child(1){
    width: 400px;
}

.machine-a-cafe img:nth-child(2){
    width: 250px;
    position: absolute;
    top:270px;
    margin-left:74px;
}

.machine-a-cafe img:nth-child(3){
    width: 80px;
    position: absolute;
    top:429px;
    margin-left:125px;
}

.panel-center-control{
    text-align: center;
    position: absolute;
    top:280px;
    background-color: #222;
    width: 210px;
    border-radius: 5px;
    height: 45px;
   margin-left: -1px;
}

.btn-confirmation{
     font-size: .8em;
     width: 100px;
     height: 30px;
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: #fff;
     background: #fd5062;
     border-radius: 5px;
     position: relative;
     top:-510px;
     left: 85px;
}

.btn-annuler{
     font-size: .8em;
     width: 100px;
     height: 30px;
     padding-top: 7px; /*permet le centrage vertical*/
     text-align: center;
     color: #fff;
     background: #00aeef;
     border-radius: 5px;
     position: relative;
     top:-540px;
     left: 215px;
}

.panel-top{
    position: absolute;
    margin-top: 20px;
    width: 300px;
}

.panel-top h1{
    font-size: .6rem;
    background: #222;
    width: 100px;
    border-radius: 5px;
    position: relative;
    left:20px;
    margin: 0 auto;
    top:-4px;
}

.btn-top-left-cafe,.btn-bottom-left-cafe,.btn-top-right-cafe,.btn-bottom-right-cafe{
	-moz-box-shadow:inset 0px 0px 0px 2px #a7a7a7;
	-webkit-box-shadow:inset 0px 0px 0px 2px #a7a7a7;
	box-shadow:inset 0px 0px 0px 2px #a7a7a7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a7a7a7), color-stop(1, #a7a7a7) );
	background:-moz-linear-gradient( center top,  5%, #a7a7a7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:-1.76px;
	border:4px solid #383839;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:20px;
	width:20px;
	text-decoration:none;
	text-align:center;
}

.btn-top-left-cafe:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00aeef), color-stop(1, #00aeef) );
	background:-moz-linear-gradient( center top, #00aeef 5%, #00aeef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

.btn-bottom-left-cafe:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00aeef), color-stop(1, #00aeef) );
	background:-moz-linear-gradient( center top, #00aeef 5%, #00aeef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

.btn-top-right-cafe:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00aeef), color-stop(1, #00aeef) );
	background:-moz-linear-gradient( center top, #00aeef 5%, #00aeef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

.btn-bottom-right-cafe:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00aeef), color-stop(1, #00aeef) );
	background:-moz-linear-gradient( center top, #00aeef 5%, #00aeef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}


.btn-top-left-cafe{
  margin-right:150px;
  margin-bottom: 20px;
}

.btn-bottom-left-cafe{
  margin-right:150px;
  margin-bottom: 20px;
}

.btn-bottom-sucre{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 40px;
    margin-top: 30px;
}

.btn-bottom-sucre a{
    text-decoration: none;
}

.panel-top h2{
    font-size: .6rem;
    background: #222;
    width: 80px;
    border-radius: 5px 0 0 5px;
    position: relative;
    text-align: left;
    padding-left: 10px;
    height: 20px;
    margin-top:0;
    padding-top: 5px;
}

.btn-sucre-choix-neg{
    background: #fd5062;
    width: 20px;
    padding-left:6px;
    height: 20px;
    margin: 0;
    line-height: 0;
}

.btn-sucre-choix-sup{
    background: #00aeef;
    border-radius: 0 5px 5px 0;
    width: 20px;
    height: 20px;
    margin: 0 15px 0 0;
    line-height: 0;
}

.btn-sucre{
    -moz-box-shadow:inset 0px 0px 0px 2px #a7a7a7;
	-webkit-box-shadow:inset 0px 0px 0px 2px #a7a7a7;
	box-shadow:inset 0px 0px 0px 2px #a7a7a7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a7a7a7), color-stop(1, #a7a7a7) );
	background:-moz-linear-gradient( center top,  5%, #a7a7a7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:-1.76px;
	border:4px solid #383839;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:20px;
	line-height:15px;
	width:5px;
	text-decoration:none;
	text-align:center;
    margin: 1px;
    margin-top: 1px;
}


.btn-sucre:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00aeef), color-stop(1, #00aeef) );
	background:-moz-linear-gradient( center top, #00aeef 5%, #00aeef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

/*====================== RESPONSIV ======================*/


@media screen and (max-width: 1200px){
    .container{
        width: auto;
    }
}




